@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GTA";
  src: local("gtavi"), url("./fonts/gtavi.ttf") format("truetype");
}

/* Custom styles for centering */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  text-align: center;
}

.header {
  font-family: "GTA";
}
